/Machine Learning Specialization - Washington/1. Machine Learning Foundations A Case Study Approach/week 3/test.ft.txt.bz2.zip
/Machine Learning Specialization - Washington/1. Machine Learning Foundations A Case Study Approach/week 3/train.ft.txt.bz2.zip
/Machine Learning Specialization - Washington/1. Machine Learning Foundations A Case Study Approach/week 3/test.ft.txt.bz2
/Machine Learning Specialization - Washington/1. Machine Learning Foundations A Case Study Approach/week 3/train.ft.txt.bz2