# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HackerRank_and_Codility\HackerRank_and_Codility\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
